<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileCopyUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileCopyUtility.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileCopyUtility.Properties.Settings>
            <setting name="PathGameRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="PathRepo" serializeAs="String">
                <value />
            </setting>
            <setting name="PathFileList" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBackupDir" serializeAs="String">
                <value />
            </setting>
        </FileCopyUtility.Properties.Settings>
        <FileCopyUtility.Config>
            <setting name="PathGameRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="PathRepo" serializeAs="String">
                <value />
            </setting>
        </FileCopyUtility.Config>
    </userSettings>
</configuration>